<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="singer/layout :: head"></head>
<body>
<h3> View singer</h3>
<p>
    <a th:href="@{/singers}">
        Back to singers list
    </a>
</p>

<div id="form">
    <form action="#"  th:object="${singer}" novalidate="novalidate" enctype="multipart/form-data">
<!--        <div>-->
<!--            <label>Name</label>-->
<!--            <input type="text" th:field="*{name}"/>-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>Description</label>-->
<!--&lt;!&ndash;            <input type="text" th:field="*{description}"/>&ndash;&gt;-->
<!--            <td><textarea cols="50" rows="5" th:type="text" th:field="*{description}" ></textarea></td>-->
<!--        </div>-->

    <table class="table table-striped table-hover">
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><textarea cols="50" rows="5" th:type="text" th:field="*{description}" ></textarea></td>

        </tr>

    </table>

    </form>
</div>
<footer th:replace="singer/layout :: footer"></footer>
</body>
</html>